.navbar {
  z-index: 100;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: var(--bg-h);
  display: flex;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar-buttons {
  display: flex;
}

.navbar-buttons button {
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  outline: none;
  border: none;
}

.navbar-buttons svg {
  margin: auto;
  background-color: var(--bg-h);
  color: var(--fg);
}

.links {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.links a {
  text-decoration: none;
  color: var(--fg);
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.links-small-screen {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 101;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-color: var(--bg-h);
}

.current-link {
  background-color: var(--bg);
}

@media screen and (width <= 600px) {
  .navbar-buttons {
    margin-left: auto;
  }

  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .link-box {
    width: 100%;
    display: flex;
  }

  .links a {
    margin: 10px auto;
  }
}

@media screen and ( 600px < width <= 768px) {
  .navbar-buttons {
    margin-left: auto;
  }

  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .link-box {
    width: 100%;
    display: flex;
  }

  .links a {
    margin: 10px auto;
  }
}

@media screen and ( 768px < width <= 900px) {
  .navbar-buttons {
    margin-left: auto;
  }

  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .link-box {
    width: 100%;
    display: flex;
  }

  .links a {
    margin: 10px auto;
  }
}

@media screen and ( 900px < width <= 1200px) {
  .navbar-menu-button {
    display: none;
  }

  .links {
    margin-top: auto;
    margin-bottom: auto;
  }

  .links a {
    margin-top: auto;
    margin-bottom: auto;
  }

  .link-box {
    display: flex;
    height: 60px;
  }
}

@media screen and (width >= 1200px) {
  .navbar-menu-button {
    display: none;
  }

  .links {
    margin-top: auto;
    margin-bottom: auto;
  }

  .links a {
    margin-top: auto;
    margin-bottom: auto;
  }

  .link-box {
    display: flex;
    height: 60px;
  }
}
