.app {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  min-height: 100vh;
}

.app-content-container {
  flex-grow: 1;
}

body {
  padding: 0;
  margin: 0;
}
